.UpdateNoteInput {
  width: 100%;
  border: 0px;
  resize: none;
  font-style: inherit;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &:hover {
    background-color: inherit;
  }
}

.note-icon-style {
  transform: scale(0.8);
  padding-bottom: 2px;
}

.from-full-width{
    width: 100%;
}

.title{
  font-size: 24px;
font-weight: 500;
}

.dialog-item{
  width: 100%;
  margin: 2%;
}