<div class="notes-group">
    <div *ngFor="let note of noteList ;let i = index" class="note">
        <mat-card id="{{note.id}}" (mouseover)="showFooterAction(note)" (mouseleave)="stopFooterAction(note)">
            <mat-card-title-group>
                <mat-card-title>{{note.title}} </mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
                {{note.description}}
            </mat-card-content>
            <div class="footer">
                <mat-card-actions>
                    <div *ngIf="note.id == showCard">
                        <button mat-icon-button>
                            <mat-icon>home</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
            </div>
        </mat-card>
        <!-- note.showfooterAction -->
    </div>
</div>