<div class="notes-group">
  <div *ngIf="noteList.length == 0;else elseBlock" class="notFound">
    <div class="notFound-icon">
      <mat-icon>archive_outline</mat-icon>
    </div>
    <br>
    <div class="notFound-text">
      Your archived notes appear here
    </div>
</div>
<ng-template #elseBlock>

    <div *ngFor="let note of noteList ;let i = index" class="spacing">
      <mat-card class="note" id="{{note.id}}" (mouseover)="showFooterAction(note)" (mouseleave)="stopFooterAction(note)">
        <div class="notesDetails" (click)="openDialog(note)">
          <mat-card-title-group>
            <mat-card-title>{{note.title}}</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            {{note.description}}
          </mat-card-content>
          <div class="labels">
            <mat-chip-list aria-label="labels">
              <mat-chip *ngFor="let label of note.label" [selectable]="selectable" [removable]="removable" (removed)="removeLabelFromNote(note,label)">{{label.label}}
                <button matChipRemove *ngIf="removable">
                  <mat-icon>cancel</mat-icon>
                </button>
                </mat-chip>
              </mat-chip-list>
          </div>
        </div>
        <div class="footer">
          <mat-card-actions>
            <div *ngIf="note.id == showCard || note.id == openMenu">
              <button mat-icon-button matTooltip="remind me" aria-label="over">
                <mat-icon class="note-icon-style">notifications</mat-icon>
              </button>
              <button mat-icon-button matTooltip="add collaborator" aria-label="over">
                <mat-icon class="note-icon-style">group_add</mat-icon>
              </button>
              <button mat-icon-button matTooltip="change color" aria-label="over">
                <mat-icon class="note-icon-style">color_lens</mat-icon>
              </button>
              <button mat-icon-button matTooltip="image" aria-label="over">
                <mat-icon class="note-icon-style">image</mat-icon>
              </button>
              <button mat-icon-button matTooltip="unarchive" aria-label="over" (click)="unArchiveNote(note)">
                <mat-icon class="note-icon-style">unarchive</mat-icon>
              </button>
  
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                (onMenuOpen)="showMenu(note)" (menuClosed)="closeMenu(note)">
                <mat-icon>more_vert</mat-icon>
              </button>
  
              <mat-menu #menu="matMenu">
                                
              <div *ngIf="label; else elseBlock" class="add-label">
                <form [formGroup]="labelForm">
                <input mat-menu-item formControlName="label" (click)="$event.stopPropagation()" type="text" matInput
                  placeholder="create new label">
                <button mat-icon-button (click)="createNewLabel()" (click)="closeMenu(note)">
                  create
                </button>
              </form>
                <div *ngFor="let label of labelList">
                  <p>
                    <button mat-button (click)="addLabel(note,label)">{{label.label}}</button>
                  </p>
                </div>
              </div>

              <ng-template #elseBlock>

                <button mat-menu-item (click)="deleteNote(note)">
                  <span>Delete</span>
                </button>
                <button mat-menu-item (click)="showAddlabel($event)">
                  <span>Add Label</span>
                </button>
                <button mat-menu-item>
                  <span>Make a copy</span>
                </button>
                </ng-template>
              </mat-menu>
            </div>
  
          </mat-card-actions>
  
        </div>
      </mat-card>
    </div>
  </ng-template>
  </div>
