.homeContainer {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.createNote {
  margin-top: 2%;
}

.displayNotes{
  width: 100%;
}
