<div class="mainContainer">
    <div class="nav-bar">
        <mat-toolbar>
            <div class="logo-title">
                <div class="menu">
                    <button type="button" mat-button drawer="drawer.open()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <div class="title">
                    {{title}}
                </div>
            </div>
            <div class="searchBar">
                <form class="search-form">
                    <mat-icon>search</mat-icon>
                    <input type="search" matInput placeholder="search">
                </form>
            </div>
            <div class="rightIcons">
                <button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
                <button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </div>
    <div class="mainContent">
        <mat-drawer-container class="container" autosize>
            <mat-drawer class="sidenav" mode="side" opened>
                <a routerLink="./home" class="side-nav-links side-nav-item" routerLinkActive="active-list-item">
                    <div class="icon-sidenav">
                        <mat-icon>lightbulb </mat-icon>
                    </div>
                    <div class="icon-label">
                        Notes
                    </div>
                </a>
                <a routerLink="./edit" class="side-nav-links side-nav-item" routerLinkActive="active-list-item">
                    <div class="icon-sidenav">
                        <mat-icon>edit</mat-icon>
                    </div>
                    <div class="icon-label">
                        Edit label
                    </div>
                </a>
                <a routerLink="./archive" class="side-nav-links side-nav-item" routerLinkActive="active-list-item">
                    <div class="icon-sidenav">
                        <mat-icon>archive</mat-icon>
                    </div>
                    <div class="icon-label">
                        Archive
                    </div>
                </a>
                <a routerLink="./bin" class="side-nav-links side-nav-item" routerLinkActive="active-list-item">
                    <div class="icon-sidenav">
                        <mat-icon>delete</mat-icon>
                    </div>
                    <div class="icon-label">
                        Bin
                    </div>
                </a>

            </mat-drawer>
            <div class="sidenav-content">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-container>

    </div>
</div>